
body{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
    background: color #E7F4FD ;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0,0.05);
    padding-top: 40px;
    color: #E7F4FD !important;
    padding-bottom: 30px;
    background-color: #0F7ACA;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    padding-bottom: 2%;
}


.logo{
    font-size: 2em;
    user-select: none;
}


ul{
    width: 60%;
    gap: 10%;
    margin: auto;
    display: grid;
    list-style: none;
    grid-template-columns: 20% 20% 20% 20%;
    font-size: 1rem;
    cursor: pointer;
}
.a-li{
    grid-column-start: 1;
}
.b-li{
    grid-column-start: 2;
}
.c-li{
    grid-column-start: 3;
}
.d-li{
    grid-column-start: 4;
    opacity: 1 !important;
}

.menu-icon{
    background-color: #0F7ACA;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
li {
    font-weight: 600;
}
a{
    color: #E7F4FD;
    opacity: 0.6 !important;
    text-decoration: none;

}

.every_thing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    width: 100%;
}

.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    background-image: url("medic_office1030x694.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 2%;
}

.contn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.h11{
    margin-top: 5%;
    text-align: center;
    color: #E7F4FD;
}
.h13{
    color: #E7F4FD;
    margin-top: 5%;
    text-align: center;
}
.download-app{
    margin-top: 5%;
    margin-bottom: 2.5%;
    padding: 10px 20px;
    background-color: #4187bc;
    color: #E7F4FD;
    text-decoration: none;
    border-radius: 5px;
    opacity: 1 !important;
    transition: background-color 0.3s;
    cursor: pointer;
}

.download-app:hover {
    background-color: #0F7ACA;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2%;
    padding: 0;
    width: 80%;
}


h1{
    color: #0F7ACA;
    margin-top: 2%;
    text-align: center;
}
h3{
    margin-top: 2%;
    text-align: center;
    font-size: 1.3em;
}

hr {
    border: 1px solid #0000005b;  
    margin: 20px 0; 
    width: 100%;    
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5% 10%;
    font-size: 2rem;
    text-align: center;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0166b4;
    padding: 0% 40px;
    margin: 0%;
}

.icons a {
    color:  #E7F4FD;
    transition: 0.3s;
    text-decoration: none;
}


.fb:hover {
    color: #0a3081 !important;
    transform: scale(1.2);
}

.ig:hover {
    color: #e4405f !important;
    transform: scale(1.2);
}

.yt:hover {
    color: #ff0000 !important;
    transform: scale(1.2); 
}

.tk:hover {
    color: #5200cc !important;
    transform: scale(1.2); 
}


.icons a {
    padding: 10px;
}


.on-icon {
    font-size: 2rem; 
    transition: transform 0.3s ease; 
    
}

.menu-icon{
    size: 40px;
}
p{
    color: #E7F4FD;
}
.opl{
    padding-top: 50px;
    font-size: 2em;
    color: #E7F4FD ;
}

@media (max-width:1350px){
    li{
        font-size: 0.8rem ;
    }
}
@media (max-width:1080px){
    li{
        font-size: 0.6rem ;
    }
    .logo{
        font-size: 1.6em;
    }
    
h1{
    font-size: 1.3em;
}
h3{
    font-size: 1em;
}
}


@media (max-width:330px){
    h1{
        font-size: 0.8em;
    }
    h3{
        font-size: 0.5em;
    }
    }






@media(min-width:850px){
        .menu-icon{
            display: none;
        }
        .remove-icon{
            display: none;            
        } 
    }

    @media(max-width:850px){
        #lil1{
            font-size: 1em;
        }
        #lil2{
            font-size: 1em;
        }
        #lil3{
            font-size: 1em;
        }
        #lil4{
            font-size: 1em;
        }
    }

    @media(max-width:600px){
        #lil1{
            font-size: 0.8em;
        }
        #lil2{
            font-size: 0.8em;
        }
        #lil3{
            font-size: 0.8em;
        }
        #lil4{
            font-size: 0.8em;
        }
    }
@media(max-width:850px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
    }
    
        ul{
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            width: 60%;
            cursor: pointer;
            position: absolute;
            right: 0%;
            top: 0px;
            background-color: #0F7ACA;
            height: 0%;
            transition: 0.05s ease;
            z-index: 100;
            box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
                }
                #lil1{
                    font-size: 1.3em;
                    display: none;
                }
                #lil2{
                    font-size: 1.3em;
                    display: none;                
                }
                #lil3{
                    font-size: 1.3em;
                    display: none;
                }
                #lil4{
                    font-size: 1.3em;
                    display: none;
                }
        .remove-icon{
            right: 0%;
            display: none;
            border: none;
            margin-top: 20%;
            font-size:2em;
            background-color: #0F7ACA;
            cursor: pointer;
            transition: 0.05s;
        }

}