body{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
    background: color #dee ;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0,0.05);
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    padding-bottom: 2%;
}


.logo{
    font-size: 2em;
    user-select: none;
}


ul{
    width: 60%;
    gap: 10%;
    display: grid;
    list-style: none;
    grid-template-columns: 20% 20% 20% 20%;
    font-size: 1.2em;
    cursor: pointer;
}
.a-li{
    grid-column-start: 1;
    grid-column-end: 2;
    opacity: 1 !important;
}
.b-li{
    grid-column-start: 2;
    grid-column-end: 3;
}
.c-li{
    grid-column-start: 3;
    grid-column-end: 4;
}
.d-li{
    grid-column-start: 4;

}

h1{
    font-weight: 200;
}

li{
    font-weight: 600;
}

.search{
    border: 1px  black solid;
    width: 60%;
    border-radius: 20px;
    padding: 13px;
    display: flex;
    margin: auto;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2px;
}

input{
    border: none;
    font-size: 1.4em;
    flex-grow: 1; 
    min-width: 0;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input:focus {
    outline: none;
}
.icon{
    font-size: 1.4em;
}
button{
    all: unset;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.498);
}
button:hover{
    color: black;
}

a{
    color: black !important;
    opacity: 0.6 !important;
    text-decoration: none;
}
