
body{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
    background: color #E7F4FD ;
    font-family: system-ui;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0,0.05);
    padding-top: 40px;
    color: #E7F4FD !important;
    padding-bottom: 30px;
    background-color: #0F7ACA;
    margin: 0;
    margin-bottom: 3%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    padding-bottom: 2%;
}


.logo{
    font-size: 2em;
    user-select: none;
}


ul{
    width: 60%;
    gap: 10%;
    margin: auto;
    display: grid;
    list-style: none;
    grid-template-columns: 20% 20% 20% 20%;
    font-size: 1rem;
    cursor: pointer;
}
.a-li{
    grid-column-start: 1;
}
.b-li{
    grid-column-start: 2;
    opacity: 1 !important;
}
.c-li{
    grid-column-start: 3;
}
.d-li{
    grid-column-start: 4;
}

.a-li:hover{
    text-decoration: underline;
}
.b-li:hover{
    text-decoration: underline;
}
.c-li:hover{
    text-decoration: underline;
}
.d-li:hover{
    text-decoration: underline;
}


.menu-icon{
    background-color: #0F7ACA;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
li {
    font-weight: 600;
}
a{
    color: #E7F4FD;
    opacity: 0.6 !important;
    text-decoration: none;

}

.on-icon {
    font-size: 2rem; 
    transition: transform 0.3s ease; 
    
}

.menu-icon{
    size: 40px;
}

/*
.search{
    border: 1px  black solid;
    width: 100vh;
    border-radius: 20px;
    padding: 13px;
    display: flex;
    margin: auto;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
}

input{
    border: none;
    font-size: 1.4em;
    flex-grow: 1; 
    min-width: 0;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input:focus {
    outline: none;
}
.icon{
    font-size: 1.4em;
}
button{
    all: unset;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.498);
}
button:hover{
    color: black;
}
button{
    all: unset;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.498);
}
button:hover{
    color: black;
}


.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0% 0% 5% 0%;
    height: 600px;
    width: 100%;
    text-align: center;
    background-image: url("national-cancer-institute-L8tWZT4CcVQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
}


.here-u-will-find{
    width: 60%;
    background-color: rgba(0, 0, 0, 0.511);
    padding: 5% 2%;
    color: #E7F4FD;
}

h1{
    margin-bottom: 7%;
}
.services-posts {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.first-post {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.post-item {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
}

.post-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
*/

.bubble-welcom {

    width: 80%;
    margin: auto;
    background: radial-gradient(circle, #ffffff, rgba(0, 0, 0, 0));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: float 3s infinite ease-in-out;
    user-select: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 0.9em;
    padding: 20px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

.pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
}

.pst {
    width: 80%;
    margin: auto;
    position: relative;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    
}

.pst img {
    height: 100%;
    width: 100%;
    box-shadow: 6px 10px 15px 0px rgba(0,0,0,0.75);
}

.pst h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0166b4;
    padding: 0%;
    margin: 0%;
}

.icons a {
    color:  #E7F4FD;
    transition: 0.3s;
    text-decoration: none;
}


.fb:hover {
    color: #0a3081 !important;
    transform: scale(1.2);
}

.ig:hover {
    color: #e4405f !important;
    transform: scale(1.2);
}

.yt:hover {
    color: #ff0000 !important;
    transform: scale(1.2); 
}

.tk:hover {
    color: #5200cc !important;
    transform: scale(1.2); 
}


.icons a {
    padding: 10px 0px;
}


.on-icon {
    font-size: 2rem; 
    transition: transform 0.3s ease; 
    
}

.opl{
    padding-top: 50px;
    font-size: 2em;
    color: #E7F4FD ;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10% 0%;
    font-size: 2rem;
    text-align: center;
}


@media (max-width:1350px){
    li{
        font-size: 0.8rem ;
    }
}
@media (max-width:1080px){
    li{
        font-size: 0.6rem ;
    }
    .logo{
        font-size: 1.6em;
    }
}

@media(min-width:850px){
        .menu-icon{
            display: none;
        }
        .remove-icon{
            display: none;            
        } 
    }

    @media(max-width:850px){
        #lil1{
            font-size: 1em;
        }
        #lil2{
            font-size: 1em;
        }
        #lil3{
            font-size: 1em;
        }
        #lil4{
            font-size: 1em;
        }
    }

    @media(max-width:600px){
        #lil1{
            font-size: 0.8em;
        }
        #lil2{
            font-size: 0.8em;
        }
        #lil3{
            font-size: 0.8em;
        }
        #lil4{
            font-size: 0.8em;
        }
    }
@media(max-width:850px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        width: 60%;
        cursor: pointer;
        position: absolute;
        right: 0%;
        top: 0px;
        background-color: #0F7ACA;
        height: 0%;
        transition: 0.05s ease;
        z-index: 100;
        box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
            }

            #lil1{
                font-size: 1.3em;
                display: none;
            }
            #lil2{
                font-size: 1.3em;
                display: none;            }
            #lil3{
                font-size: 1.3em;
                display: none;
            }
            #lil4{
                font-size: 1.3em;
                display: none;
            }

.remove-icon {
    background-color: #0F7ACA;
    border: none;
    font-size: 2em;
    cursor: pointer;
    display: none;
    transition: display 0.05s ease;
    margin-top: 20%;
    right: 0%;
}
}



@media(max-width:600px){
    .pictures{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 8%;
        margin-bottom: 5%;
    }
    
    .pst {
        position: relative;
        display: inline-block;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 5%;
    }
    
    .pst img {
        height: 100%;
        width: 100%;
    }
    
    .pst h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-size: 1.6em;
    }
    
    }
@media(max-width:450px){
    
.pst {
    position: relative;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
}

.pst img {
    width: 100%;
    height: auto;
}

.pst h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: center;

    font-size: 0.6em;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
}
